<!DOCTYPE html>
<html>
  <head>
    <title>RailsHotwireTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%if current_user.present?%>
      <p> <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %> </p>
    <%end%>
    <hr>
    <%=render 'shared/flash'%>
    <%= yield %>
  </body>
</html>
